<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
<appSettings>
  <add key="AzureSubscription" value="#yourAzureSubscriptionIdHere#" />
  <add key="AzureTenantId" value="#yourAzureTenantIdHere#" />
  <add key="AzureClientId" value="#yourAppClientIdHere#" />
  <add key="AzureClientSecret" value="#yourAppSecretHere#" />
  <add key="ResourceGroup" value="#yourAASGroupNameHere#" />
  <add key="AnalysisServicesResource" value="#yourAASInstanceNameHere#" />
  <add key="Location" value="West Europe" />
  <add key="InitialSKU" value="S2" />
  <add key="TargetSKU" value="S4" />
</appSettings>
</configuration>